[Desktop Entry]
Type=Application
Version=1.0
Name=Lenovo Vantage
GenericName=Device Control Center
Comment=Control conservation mode, fan mode, Fn lock, battery health and more on Lenovo laptops
Exec=vantage %f
Icon=vantage
Terminal=false
Categories=System;Settings;HardwareSettings;
Keywords=lenovo;vantage;battery;fan;conservation;thermal;
